<div>
  <h3>Request.</h3>
  <p>Full name: <%= fullName %></p>
  <p>Phone: <%= phone %></p>
  <p>Email: <%= email %></p>
  <p>Address 1: <%= address1 %></p>
  <p>Address 2: <%= address2 %></p>
  <p>Agree to terms: <%= agreeToTerms %></p>
</div>
